<!--Site Footer Start-->
<footer class="site-footer">
    <div class="site-footer__img">
        <img src="assets/images/resources/site-footer-img.jpg" alt="">
    </div>
    <div class="container">
        <div class="site-footer__middle">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__Contact">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Contact Our Ministry</h3>
                        </div>
                        <p class="footer-widget__Contact-text">
                            Faith Preachers Ministries International, Behind Dangote Flour Mills, Asadam Road, Ilorin.
                        </p>
                        <ul class="footer-widget__Contact-list list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-email"></span>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:info@faithpreachersministries.org">info@faithpreachersministries.org</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fas fa-phone-square"></span>
                                </div>
                                <div class="text">
                                    <p><a href="tel:+2347063943959">+234 706 394 3959</a></p>
                                </div>
                            </li>
                        </ul>
                        <div class="site-footer__social">
                         <a href="https://www.facebook.com/fpmilorin" class="fab fa-twitter"></a>
                <a href="https://www.facebook.com/fpmilorin" class="fab fa-facebook-square"></a>
                
                <a href="https://www.instagram.com/fpm_ilorin/" class="fab fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__link">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Links</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/sop">SOP</a></li>
                            <li><a href="/giving">Giving</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__ministries">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Ministries</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="/ilorin">FPM-Ilorin (HQ)</a></li>
                            <li><a href="/lagos">FPM-Lagos</a></li>
                            <li><a href="/abuja">FPM-Abuja</a></li>
                            <li><a href="/uk">FPM-UK</a></li>
                            <li><a href="/america">FPM-America</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__explore">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Explore</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="/events">Events</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                            <li><a href="/testimonies">Testimonies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <div class="footer-widget__column footer-widget__gallery">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Gallery</h3>
                        </div>
                        <ul class="footer-widget__gallery-list list-unstyled clearfix">
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="assets/images/church/church-17.jpg" alt="">
                                    <a href="assets/images/church/church-17.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="assets/images/church/church-18.jpg" alt="">
                                    <a href="assets/images/church/church-18.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="assets/images/church/church-19.jpg" alt="">
                                    <a href="assets/images/church/church-19.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="assets/images/church/church-20.jpg" alt="">
                                    <a href="assets/images/church/church-20.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="assets/images/church/church-21.jpg" alt="">
                                    <a href="assets/images/church/church-21.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-widget__gallery-img">
                                    <img src="assets/images/church/church-22.jpg" alt="">
                                    <a href="assets/images/church/church-22.jpg" class="img-popup"><span class="fab fa-instagram"></span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer__bottom-inner">
                            <p class="site-footer__bottom-text">© Copyright 2025 <a href="/">Faith Preachers Ministries International</a> with <img src="assets/images/backgrounds/ilorin/sop/love.svg" alt=""> by <a href="https://zentedge.com/">Zentedge Solutions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
<!--Site Footer End-->

<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="/" aria-label="logo image"><img src="assets/images/resources/logo.png" width="94" alt="" /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container">
            <ul class="mobile-nav__link-list list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/sop">SOP</a></li>
                <li><a href="/giving">Giving</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/testimonies">Testimonies</a></li>
                <li>
                    <span class="mobile-nav__dropdown">Ministries</span>
                    <ul class="mobile-nav__sublist list-unstyled">
                        <li><a href="/ilorin">FPM-Ilorin (HQ)</a></li>
                        <li><a href="/lagos">FPM-Lagos</a></li>
                        <li><a href="/abuja">FPM-Abuja</a></li>
                        <li><a href="/uk">FPM-UK</a></li>
                        <li><a href="/america">FPM-America</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.mobile-nav__container -->
        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:info@faithpreachersministries.org">info@faithpreachersministries.org</a>
            </li>
            <li>
                <i class="fa fa-phone-alt"></i>
                <a href="tel:+2347063943959">+234 706 394 3959</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="https://www.facebook.com/fpmilorin" class="fab fa-twitter"></a>
                <a href="https://www.facebook.com/fpmilorin" class="fab fa-facebook-square"></a>
                <!-- <a href="https://www.instagram.com/fpm_ilorin/" class="fab fa-pinterest-p"></a> -->
                <a href="https://www.instagram.com/fpm_ilorin/" class="fab fa-instagram"></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->
    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->