        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__img">
                <img src="assets/images/resources/site-footer-img.jpg" alt="">
            </div>
            <div class="container">
             
                <div class="site-footer__middle">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__Contact">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Contact</h3>
                                </div>
                                <p class="footer-widget__Contact-text">Faith Preachers Ministries International, Behind Dangote Flour Mills,  Asadam Road, Ilorin.
                                </p>
                                <ul class="footer-widget__Contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-email"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:info@faithpreachersministries.org">info@faithpreachersministries.org</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="fas fa-phone-square"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="tel:+2347063943959">+234 706 394 3959</a></p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="site-footer__social">
                                    <a href="https://web.facebook.com/fpmilorin"><i class="fab fa-twitter"></i></a>
                                    <a href="https://web.facebook.com/fpmilorin"><i class="fab fa-facebook"></i></a>
                                    <!-- <a href="#"><i class="fab fa-pinterest-p"></i></a> -->
                                    <a href="https://www.instagram.com/fpm_ilorin/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                               <div class="col-xl-2 col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__link">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Links</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/sop">SOP</a></li>
                            <li><a href="/giving">Giving</a></li>
                        </ul>
                    </div>
                </div>
                             <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__ministries">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Ministries</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="/ilorin">FPM-Ilorin (HQ)</a></li>
                            <li><a href="/lagos">FPM-Lagos</a></li>
                            <li><a href="/abuja">FPM-Abuja</a></li>
                            <li><a href="/uk">FPM-UK</a></li>
                            <li><a href="/america">FPM-America</a></li>
                        </ul>
                    </div>
                </div>
                       <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__explore">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Explore</h3>
                        </div>
                        <ul class="footer-widget__link-list list-unstyled">
                            <li><a href="/events">Events</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                            <li><a href="/testimonies">Testimonies</a></li>
                        </ul>
                    </div>
                </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <div class="footer-widget__column footer-widget__gallery">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Gallery</h3>
                                </div>
                                <ul class="footer-widget__gallery-list list-unstyled clearfix">
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/backgrounds/newall/newilorin1.jpg" alt="">
                                            <a href="assets/images/backgrounds/newall/newilorin1.jpg"
                                                class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                            <img src="assets/images/backgrounds/newall/newilorin2.jpg" alt="">
                                            <a href="assets/images/backgrounds/newall/newilorin2.jpg"
                                                class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                   
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                              <img src="assets/images/backgrounds/newall/newilorin3.jpg" alt="">
                                            <a href="assets/images/backgrounds/newall/newilorin3.jpg"
                                                class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                         <img src="assets/images/backgrounds/newall/newilorin5.jpg" alt="">
                                            <a href="assets/images/backgrounds/newall/newilorin5.jpg"
                                                class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget__gallery-img">
                                           <img src="assets/images/backgrounds/newall/newilorin4.jpg" alt="">
                                            <a href="assets/images/backgrounds/newall/newilorin4.jpg"
                                                class="img-popup"><span class="fab fa-instagram"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="site-footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer__bottom-inner">
                            <p class="site-footer__bottom-text">© Copyright 2025 <a href="/">Faith Preachers Ministries International</a> with <img src="assets/images/backgrounds/ilorin/sop/love.svg" alt=""> by <a href="https://zentedge.com/">Zentedge Solutions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </footer>
        <!--Site Footer End-->

            <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/resources/logo.png" width="94"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@faithpreachersministries.com">info@faithpreachersministries.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+2347063943959">+234 706 394 3959</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->