 <section class="portfolio-one">
    <div class="portfolio-one__top">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="portfolio-one__left">
              <div class="section-title text-left">
                <div class="section-title__icon">
                  <span class="fa fa-star"></span>
                </div>
                <span class="section-title__tagline">Our Ministry Moments</span>
                <h2 class="section-title__title">
                  Discover FPM’s <br />
                  Inspiring Journey
                </h2>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="portfolio-one__right">
              <div class="portfolio-one__text">
                <p>
                  At Faith Preachers Ministry, we share God’s love through worship, prayer, and community outreach. Explore our gallery of powerful moments where lives are transformed by faith and fellowship.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-one__bottom">
      <div class="container">
        <div
          class="portfolio-one__carousel thm-owl__carousel owl-theme owl-carousel"
          data-owl-options='{
                        "items": 3,
                        "margin": 60,
                        "smartSpeed": 700,
                        "loop":true,
                        "autoplay": true,
                        "nav":false,
                        "dots":false,
                        "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                        "responsive":{
                            "0":{
                                "items":1
                            },
                            "768":{
                                "items":2
                            },
                            "992":{
                                "items": 3
                            },
                            "1200":{
                                "items":3
                            }
                        }
                    }'
        >
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin1.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin2.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin3.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin4.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin5.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin6.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin7.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin8.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
        
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin9.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
        
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin10.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
        
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/newall/newilorin11.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
        
      
        </div>
      </div>
    </div>
</section>