  <section class="portfolio-one">
    <div class="portfolio-one__top">
      <div class="container">
   <div class="row">
    <div class="col-xl-6 col-lg-6">
        <div class="portfolio-one__left">
            <div class="section-title text-left">
                <div class="section-title__icon">
                    <span class="fa fa-star"></span>
                </div>
                <span class="section-title__tagline">Glimpses of God’s Glory</span>
                <h2 class="section-title__title">
                    Witness FPM’s <br />
                    Spiritual Legacy
                </h2>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="portfolio-one__right">
            <div class="portfolio-one__text">
                <p>
                    Faith Preachers Ministry unveils the radiance of God’s presence worldwide, capturing transformative moments of faith, hope, and divine connection in our gallery of sacred stories.
                </p>
            </div>
        </div>
    </div>
</div>
      </div>
    </div>
    <div class="portfolio-one__bottom">
      <div class="container">
        <div
          class="portfolio-one__carousel thm-owl__carousel owl-theme owl-carousel"
          data-owl-options='{
                        "items": 3,
                        "margin": 60,
                        "smartSpeed": 700,
                        "loop":true,
                        "autoplay": true,
                        "nav":false,
                        "dots":false,
                        "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                        "responsive":{
                            "0":{
                                "items":1
                            },
                            "768":{
                                "items":2
                            },
                            "992":{
                                "items": 3
                            },
                            "1200":{
                                "items":3
                            }
                        }
                    }'
        >
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747514361414.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747514390365.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747676318656.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747676325067.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747676418199.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747676444559.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747676480342.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747676471769.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/church/church-15.jpg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
          <!--Portfolio One Single Start-->
          <div class="item">
            <div class="portfolio-one__single">
              <div class="portfolio-one__img-box">
                <div class="portfolio-one__img">
                  <img src="assets/images/backgrounds/ilorin/testimony/gracetestimony.jpeg" alt="" style="width: 300px; height: 200px; object-fit: cover;" />
                </div>
              </div>
            </div>
          </div>
          <!--Portfolio One Single End-->
        </div>
      </div>
    </div>
</section>