 <section class="team-one">
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__icon">
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="section-title__tagline">Guiding the Vision of Faith Preachers Ministries int'l</span>
                    <h2 class="section-title__title">Our Spiritual Leadership
                        <br> </h2>
                </div>
                <div class="team-one__inner">
                    <div class="row">
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-1">
                                    <img src="assets/images/shapes/team-one-shape-1.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="assets/images/team/pst-sam.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="">Pst (Dr.) Sam Jaiyeola</a></h3>
                                    <!-- <p class="team-one__sub-title">Mayor</p> -->
                                    <div class="team-one__social">
                                        <a href="https://www.facebook.com/faithpreachersministries"><i class="fab fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/pst_sam_infocenter/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-2">
                                    <img src="assets/images/shapes/team-one-shape-2.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="assets/images/team/pst-tosin.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="">Pst (Dr.) Tosin Jaiyeola</a></h3>
                                    <!-- <p class="team-one__sub-title">Mayor</p> -->
                                    <div class="team-one__social">
                                        <a href="https://www.facebook.com/oludipejaiyeola.tosin"><i class="fab fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/tosin_jaiyeola/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-3">
                                    <img src="assets/images/shapes/team-one-shape-3.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="assets/images/team/pst-kesh.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="">Pst Kesh Babatunde</a></h3>
                                    <!-- <p class="team-one__sub-title">City Developer</p> -->
                                    <div class="team-one__social">
                                        <a href="https://www.facebook.com/keshinro.isaac"><i class="fab fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/smartkesh/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                    </div>
                </div>
            </div>
        </section>