<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confessions|FPM</title>
    <!-- favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="govity HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.pips.css"
    />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/govity-icons/style.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/tiny-slider/tiny-slider.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/govity.css" />
    <link rel="stylesheet" href="assets/css/govity-responsive.css" />
  </head>

  <body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <!-- /.preloader -->

    <div class="page-wrapper">
      <!-- Start header -->
      <%- include('partials/header') %>
      <!-- End Header -->

      <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div>
        <!-- /.sticky-header__content -->
      </div>
      <!-- /.stricky-header -->

      <!--Page Header Start-->
      <section class="page-header">
        <div
          class="page-header-bg"
          style="
            background-image: url(assets/images/backgrounds/ilorin/fpm-ilorin-6.jpg);
          "
        ></div>
        <div class="container">
          <div class="page-header__inner">
            <h2>Our Confession</h2>
            <ul class="thm-breadcrumb list-unstyled">
              <li><a href="index">Home</a></li>
              <li><span>/</span></li>
              <li>Confessions</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Page Header End-->

      <section class="testimonial-three">
        <div
          class="testimonial-three__bg"
          style="
            background-image: url(assets/images/backgrounds/ilorin/fpmabuja/FB_IMG_1747676414789.jpg);
          "
        ></div>

        <br><br>

        <!-- <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <div class="testimonial-three__left">
                <div class="section-title text-left">
                  <div class="section-title__icon">
                    <span class="fa fa-star"></span>
                  </div>
                  <span class="section-title__tagline">Our Testimonies</span>
                  <h2 class="section-title__title">
                    People Are Transformed <br />
                    by God’s Work
                  </h2>
                </div>
                <p class="testimonial-three-left__text">
                  At Faith Preachers Ministry, lives are changed through the
                  power of God’s love, prayer, and fellowship across our global
                  branches.
                </p>
              </div>
            </div>
          </div>
        </div> -->

          <div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
      <div class="testimonial-three__left text-center">
        <div class="section-title">
          <div class="section-title__icon">
            <span class="fa fa-star"></span>
          </div>
          <span class="section-title__tagline">Our Prophetic Declarations</span>
          <h2 class="section-title__title">
            Proclaim Your Faith <br /> for 2025
          </h2>
        </div>
        <p class="testimonial-three-left__text">
          Faith Preachers Ministry empowers believers worldwide...
        </p>
        <div class="confessions__verses">
          <!-- your <ul> stays here -->
              <ul class="list-unstyled">
                        <li><strong>Verse 1:</strong> This year according to the word of God,</li>
                        <li><strong>Verse 2:</strong> I dwell in the secret place of the Most High,</li>
                        <li><strong>Verse 3:</strong> I am empowered to do exploits.</li>
                        <li><strong>Verse 4:</strong> I operate in the spirit of wisdom and</li>
                        <li><strong>Verse 5:</strong> revelation and I begin to know what to do.</li>
                        <li><strong>Verse 6:</strong> This year, the Lord will enlarge my coast,</li>
                        <li><strong>Verse 7:</strong> I will increase, and I will break new territories.</li>
                        <li><strong>Verse 8:</strong> I will no longer be small,</li>
                        <li><strong>Verse 9:</strong> sectors and I will reach great heights.</li>
                        <li><strong>Verse 10:</strong> I begin to experience Divine prosperity and I am comforted on all sides,</li>
                        <li><strong>Verse 11:</strong> I will break forth, there will be addition, growth and increment.</li>
                        <li><strong>Verse 12:</strong> In this year 2025, No evil shall befall me and my family.</li>
                        <li><strong>Verse 13:</strong> The hand of God is upon me for speed and the hand of God</li>
                        <li><strong>Verse 14:</strong> shall arise in judgement against my enemies.</li>
                        <li><strong>Verse 15:</strong> This year, surely goodness and mercy shall follow me</li>
                        <li><strong>Verse 16:</strong> Kings shall rise to help me because</li>
                        <li><strong>Verse 17:</strong> my light so shines before nations</li>
                        <li><strong>Verse 18:</strong> 2025, I will rise, spread and expand on all sides.</li>
                    </ul>
        </div>
      </div>
    </div>
  </div>
</div>
     
    </section>

      <br>
    


      <!--Site Footer Start-->
      <%- include('partials/footer') %>
      <!--Site Footer End-->
    </div>
    <!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
      ><i class="icon-right-arrow"></i
    ></a>

    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/vegas/vegas.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="assets/vendors/nice-select/jquery.nice-select.min.js"></script>

    <!-- template js -->
    <script src="assets/js/govity.js"></script>
  </body>
</html>
