<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Lagos|FPM</title>
    <!-- favicons Icons -->
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/resources/logo.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/resources/logo.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/resources/logo.png />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <!-- <meta name="description" content="govity HTML 5 Template " /> -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/govity-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/govity.css" />
    <link rel="stylesheet" href="assets/css/govity-responsive.css" />
</head>

<body class="custom-cursor">


    <div class="page-wrapper">
           <!-- Start header -->
        <%- include('partials/header') %>
            <!-- End Header -->

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!-- Main Slider Three Start -->
       <section class="main-slider">
    <div class="main-slider__carousel owl-carousel owl-theme thm-owl__carousel"
        data-owl-options='{"loop": true, "items": 1, "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"], "margin": 0, "dots": true, "nav": true, "animateOut": "slideOutDown", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000, "autoplay": true, "autoplayTimeout": 7000, "autoplayHoverPause": false}'>

        <div class="item main-slider__slide-1">
            <div class="main-slider__bg"
                style="background-image: url(assets/images/backgrounds/newall/newlag1.jpg);">
            </div>
            <div class="main-slider__meta-box">
                <ul class="main-slider__meta list-unstyled">
                    <li>
                        <div class="icon">
                            <span class="fas fa-sun"></span>
                        </div>
                        <div class="text">
                            <p>Worship Services: Mon - Fri</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <span class="fas fa-clock"></span>
                        </div>
                        <div class="text">
                            <p>Time: 8:00 PM WAT (UTC+1)</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="main-slider__content">
                    <p class="main-slider__sub-title">
                        Welcome to FPM Lagos Branch
                    </p>
                    <h2 class="main-slider__title">
                        Restoring Hope in <br />
                        Our Community
                    </h2>
                    <div class="main-slider__btn-box">
                        <a href="/about" class="main-slider__btn thm-btn">Discover More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item main-slider__slide-2">
            <div class="main-slider__bg"
                style="background-image: url(assets/images/backgrounds/newall/newlag10.jpg);">
            </div>
            <div class="main-slider__meta-box">
                <ul class="main-slider__meta list-unstyled">
                    <li>
                        <div class="icon">
                            <span class="fas fa-sun"></span>
                        </div>
                        <div class="text">
                            <p>Worship Services: Mon - Fri</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <span class="fas fa-clock"></span>
                        </div>
                        <div class="text">
                            <p>Time: 8:00 PM WAT (UTC+1)</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="main-slider__content">
                    <p class="main-slider__sub-title">
                        Join Our Lagos Spiritual Family
                    </p>
                    <h2 class="main-slider__title">
                        Building Destinies <br />
                        Through Faith
                    </h2>
                    <div class="main-slider__btn-box">
                        <a href="/about" class="main-slider__btn thm-btn">Discover More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item main-slider__slide-3">
            <div class="main-slider__bg"
                style="background-image: url(assets/images/backgrounds/newall/newlag11.jpg);">
            </div>
            <div class="main-slider__meta-box">
                <ul class="main-slider__meta list-unstyled">
                    <li>
                        <div class="icon">
                            <span class="fas fa-sun"></span>
                        </div>
                        <div class="text">
                            <p>Worship Services: Mon - Fri</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <span class="fas fa-clock"></span>
                        </div>
                        <div class="text">
                            <p>Time: 8:00 PM WAT (UTC+1)</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="main-slider__content">
                    <p class="main-slider__sub-title">
                        Under Pastor Sam & Pastor Mrs. Tosin Jaiyeola
                    </p>
                    <h2 class="main-slider__title">
                        Raising Generals <br />
                        in Lagos
                    </h2>
                    <div class="main-slider__btn-box">
                        <a href="/about" class="main-slider__btn thm-btn">Discover More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
        <!-- Main Slider Three Start -->
        <!--Page Header End-->
        <!--About Four Start-->
       <section class="about-four">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-four__left">
                    <!-- <div class="about-four__shape-1 img-bounce">
                        <img src="assets/images/shapes/about-four-shape-1.png" alt="">
                    </div> -->
                    <div class="about-four__img-box">
                        <div class="about-four__img">
                            <img src="assets/images/backgrounds/newall/newlag5.jpg  " alt="">
                        </div>
                        <!-- <div class="about-four__img-2">
                            <img src="assets/images/resources/about-four-img-2.jpg" alt="">
                        </div> -->
                        <div class="about-four__content">
                            <h3>The Voice of Faith
                                <br> in the Lagos
                                <br> Community</h3>
                            <div class="about-four__icon">
                                <span class="icon-cityscape"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-xl-6">
    <div class="about-four__right">
        <div class="section-title text-left">
            <div class="section-title__icon">
                <span class="fa fa-star"></span>
            </div>
            <span class="section-title__tagline">FPM Lagos: City of Faith</span>
            <h2 class="section-title__title">Shining God’s Light <br> in Lagos</h2>
        </div>
        <p class="about-four__text">
            In the bustling heart of Lagos, Faith Preachers Ministry fuels spiritual passion, uniting communities through fervent worship and impactful outreach every Sunday at 8:00 AM.
        </p>
        <ul class="about-four__points list-unstyled">
            <li>
                <div class="icon">
                    <span class="fa fa-angle-right"></span>
                </div>
                <div class="content">
                    <h3>Urban Outreach</h3>
                    <p>Engaging Lagos’s vibrant communities with bold evangelism and compassionate service to spread God’s love.</p>
                </div>
            </li>
            <li>
                <div class="icon">
                    <span class="fa fa-angle-right"></span>
                </div>
                <div class="content">
                    <h3>Dynamic Worship</h3>
                    <p>Join our Lagos services to experience uplifting worship that strengthens faith and fosters unity.</p>
                </div>
            </li>
        </ul>
        <div class="about-four__btn-box">
            <a href="/about" class="about-four__btn thm-btn">Explore Lagos’s Mission</a>
        </div>
    </div>
</div>
        </div>
    </div>
</section>
        <!--About Four End-->

               <!--Team One Start-->
        <section class="team-one">
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-title__icon">
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="section-title__tagline">Guiding the Vision of Faith Preachers Ministries int'l</span>
                    <h2 class="section-title__title">Our Spiritual Leadership
                        <br> </h2>
                </div>
                <div class="team-one__inner">
                    <div class="row">
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-1">
                                    <img src="assets/images/shapes/team-one-shape-1.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="assets/images/team/pst-sam.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="team-details.html">Pst (Dr.) Sam Jaiyeola</a></h3>
                                    <!-- <p class="team-one__sub-title">Mayor</p> -->
                                    <div class="team-one__social">
                                        <a href="https://www.facebook.com/faithpreachersministries"><i class="fab fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/pst_sam_infocenter/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-2">
                                    <img src="assets/images/shapes/team-one-shape-2.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="assets/images/team/pst-tosin.jpg" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="team-details.html">Pst (Dr.) Tosin Jaiyeola</a></h3>
                                    <!-- <p class="team-one__sub-title">Mayor</p> -->
                                    <div class="team-one__social">
                                        <a href="https://www.facebook.com/oludipejaiyeola.tosin"><i class="fab fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/tosin_jaiyeola/"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                        <!--Team One Single Start-->
                        <div class="col-xl-4 col-lg-4">
                            <div class="team-one__single">
                                <div class="team-one__shape-3">
                                    <img src="assets/images/shapes/team-one-shape-3.png" alt="">
                                </div>
                                <div class="team-one__img-box">
                                    <div class="team-one__img">
                                        <img src="assets/images/backgrounds/ilorin/testimony/lagospstor.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="team-one__content">
                                    <h3 class="team-one__name"><a href="team-details.html">Pst</a></h3>
                                    <!-- <p class="team-one__sub-title">City Developer</p> -->
                                    <div class="team-one__social">
                                        <a href=""><i class="fab fa-facebook"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Team One Single End-->
                    </div>
                </div>
            </div>
        </section>
        <!--Team One End-->
                <!--Services Two Start-->
        <section class="services-two">
            <div class="services-two__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="services-two__left">
                                <div class="services-two__shape-1 float-bob-y">
                                    <img src="assets/images/shapes/services-two-shape-1.png" alt="">
                                </div>
                                <div class="section-title text-left">
                                    <div class="section-title__icon">
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <span class="section-title__tagline">Our services</span>
                                    <h2 class="section-title__title">Join online services
                                        <br> & Program</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="services-two__right">
                                <div class="row">
                                    <!--Services Two Single Start-->
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="services-two__single">
                                            <h3 class="services-two__title"><a href="https://web.facebook.com/faithpreachersministries">Thus Saith
                                                    <br> The Lord</a></h3>
                                            <div class="services-two__icon">
                                                <span class="icon-accept"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Services Two Single End-->
                                    <!--Services Two Single Start-->
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="services-two__single">
                                            <h3 class="services-two__title"><a href="https://web.facebook.com/faithpreachersministries">Amplified
                                                    <br> Service</a></h3>
                                            <div class="services-two__icon">
                                                <span class="icon-accept"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Services Two Single End-->
                                    <!--Services Two Single Start-->
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="services-two__single">
                                            <h3 class="services-two__title"><a href="https://web.facebook.com/fpmlagos">Sunday
                                                    <br> Service</a></h3>
                                            <div class="services-two__icon">
                                                <span class="icon-accept"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Services Two Single End-->
                                </div>
                            </div>
                        </div>
                        <!--Services Two Single End-->
                    </div>
                </div>
            </div>
        </section>
        <!--Services Two End-->


                <!--Portfolio One Start-->
        <%- include('partials/lagosmoments') %>
        <!--Portfolio One End-->

        <!--Contact Page Start-->
        <section class="contact-page">
            <div class="container">
                <div class="contact-page__top">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="contact-page__left">
                                <div class="contact-page__img-box">
                                    <div class="contact-page__img">
                                        <img src="assets/images/backgrounds/newall/newlag7.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
    <div class="contact-page__right">
    <div class="section-title text-left">
        <div class="section-title__icon">
            <span class="fa fa-star"></span>
        </div>
        <span class="section-title__tagline">Lagos: Hub of Spiritual Passion</span>
        <h2 class="section-title__title">Join Our Vibrant Community</h2>
    </div>
    <p class="contact-page__text">
        In the heart of Lagos, Faith Preachers Ministry welcomes you to engage with our dynamic Sunday services at 8:00 AM, fostering faith through heartfelt worship and bold outreach.
    </p>
    <ul class="list-unstyled contact-page__contact-list">
        <li>
            <div class="icon">
                <span class="icon-telephone"></span>
            </div>
            <div class="content">
                <p>Have any Question?</p>
                <h4><a href="tel:+2347063943959"><span>Free</span> +234 706 394 3959</a></h4>
            </div>
        </li>
        <li>
            <div class="icon">
                <span class="icon-email"></span>
            </div>
            <div class="content">
                <p>Write Email</p>
                <h4><a href="mailto:info@faithpreachersministries.com">info@faithpreachersministries.com</a></h4>
            </div>
        </li>
        <li>
            <div class="icon">
                <span class="icon-pin"></span>
            </div>
            <div class="content">
                <p>Visit Anytime</p>
                <h4>82 New-Ipaja Road Beside Prestige, Alimosho Bus-stop, Iyana-Ipaja, Lagos</h4>
            </div>
        </li>
    </ul>
</div>
</div>
                    </div>
                </div>
                <br>

                <section class="services-two">
    <div class="services-two__inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="services-two__left">
                        <div class="services-two__shape-1 float-bob-y">
                            <img src="assets/images/shapes/services-two-shape-1.png" alt="" />
                        </div>
                        <div class="section-title text-left">
                            <div class="section-title__icon">
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="section-title__tagline">Partner With Our Vision</span>
                            <h2 class="section-title__title">
                                Give to Advance <br />
                                God’s Kingdom
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="services-two__right">
                        <div class="row">
                            <!--Giving Details Start-->
                            <div class="col-xl-12 col-lg-12 col-md-12 p-2">
                                <div class="services-two__single">
                                    <h3 class="services-two__title"></h3>       <p style="font-size: 14px; color: #333; line-height: 1.5; margin: 0;">
   <b> Bank:</b> Access Bank<br>
    <b>Account Name:</b> Faith Preacher's Ministries Int'l<br>
    <b>Account Number:</b> 0723144744<br>
</p><div class="services-two__icon">
                                        <span class="icon-accept"></span>
                                    </div>
                                </div>
                            </div>
                            <!--Giving Details End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                <div class="contact-page__bottom">
                    <div class="contact-page__bottom-left">
                        <div class="contact-page__bottom-icon">
                            <span class="icon-clock"></span>
                        </div>
                        <ul class="contact-page__bottom-content list-unstyled">
                            <li>
                                <span>Amplified Service</span>
                                <p>Wed: 9:00 pm WAT</p>
                            </li>
                            <li>
                                <span>Sunday Service</span>
                                <p>Sun: 8:00 am WAT</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-page__bottom-right">
                        <div class="contact-page__social">
                            <div class="contact-page__social-shape-1 float-bob-x">
                                <img src="assets/images/shapes/contact-page-shape-1.png" alt="">
                            </div>
                            <span>Social Media</span>
                            <a href=" https://web.facebook.com/profile.php?id=61572814706412"><i class="fab fa-facebook"></i></a>
                            <a href=" https://web.facebook.com/profile.php?id=61572814706412"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/watch?v=o4tU9KkIZvc" target="_blank">
  <i class="fab fa-youtube"></i>
</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     

        <section class="google-map">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.280159101642!2d3.29347097431293!3d6.612070922129145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91e262b22917%3A0x53eda950d24893fa!2sPRESTIGE%20SUPER%20STORES!5e0!3m2!1sen!2sng!4v1757757973528!5m2!1sen!2sng"
           width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </section>

        <!--googlemap end-->
    <!-- Start Footer section -->
    <%- include('partials/lagosfooter') %>
      <!-- End Footer section -->


    </div><!-- /.page-wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>


    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/vegas/vegas.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="assets/vendors/nice-select/jquery.nice-select.min.js"></script>




    <!-- template js -->
    <script src="assets/js/govity.js"></script>
</body>

</html>