<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOP |FPM</title>
    <!-- favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="govity HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.pips.css"
    />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/govity-icons/style.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/tiny-slider/tiny-slider.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/govity.css" />
    <link rel="stylesheet" href="assets/css/govity-responsive.css" />
  </head>
  <style></style>
  <body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="page-wrapper">
      <%- include('partials/header') %>

      <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div>
        <!-- /.sticky-header__content -->
      </div>
      <!-- /.stricky-header -->

      <!--Page Header Start-->
      <section class="page-header">
        <div
          class="page-header-bg"
          style="
            background-image: url(assets/images/backgrounds/ilorin/sop/sop12.jpeg);
          "
        ></div>
        <div class="container">
          <div class="page-header__inner">
            <h2>SOP</h2>
            <ul class="thm-breadcrumb list-unstyled">
              <li><a href="index.html">Home</a></li>
              <li><span>/</span></li>
              <li>Sons Of Prophets</li>
            </ul>
          </div>
        </div>
      </section>
      <!--Page Header End-->

      <!--Departments Page Start-->
      <section class="department-page">
        <div class="container">
          <div class="section-title text-center">
            <div class="section-title__icon">
              <span class="fa fa-star"></span>
            </div>
            <span class="section-title__tagline">Sons of Prophets</span>
            <h2 class="section-title__title">
              Meet Our Prophetic <br />
              Leaders
            </h2>
          </div>
          <div class="row">
            <!--Department Two Single Start-->
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img src="assets/images/team/pst-sam.jpg" alt="" />
                  </div>
                  <div class="department-two__content">
                    <h3 class="department-two__title">
                      <a href="/about"
                        >Pst (Dr.) <br />
                        Sam Jaiyeola</a
                      >
                    </h3>
                  </div>
                  <!-- <div class="department-two__content-two">
                                    <h3 class="department-two__title-two"><a href="department-details.html">Your
                                            <br> Government</a></h3>
                                    <p class="department-two__text">There are many variations of pass the majority.</p>
                                    <div class="department-two__btn-box">
                                        <a href="department-details.html" class="department-two__btn">Read More<i
                                                class="icon-right-arrow"></i></a>
                                    </div>
                                    <div class="department-two__icon-two">
                                        <span class="icon-parthenon"></span>
                                    </div>
                                </div> -->
                </div>
              </div>
            </div>
            <!--Department Two Single End-->
            <!--Department Two Single Start-->
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img src="assets/images/team/pst-tosin.jpg" alt="" />
                  </div>
                  <div class="department-two__content">
                    <h3 class="department-two__title">
                      <a href="/about"
                        >Pst (Dr.) <br />
                        Tosin Jaiyeola</a
                      >
                    </h3>
                    <!-- <div class="department-two__icon">
                                        <span class="icon-suitcase"></span>
                                    </div> -->
                  </div>
                  <!-- <div class="department-two__content-two">
                                    <h3 class="department-two__title-two"><a href="department-details.html">Jobs &
                                            <br> Unemployment</a></h3>
                                    <p class="department-two__text">There are many variations of pass the majority.</p>
                                    <div class="department-two__btn-box">
                                        <a href="department-details.html" class="department-two__btn">Read More<i
                                                class="icon-right-arrow"></i></a>
                                    </div>
                                  
                                </div> -->
                </div>
              </div>
            </div>
            <!--Department Two Single End-->

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <!-- <img src="assets/images/team/pst-kesh.jpg" alt=""> -->
                    <img
                      src="assets/images/backgrounds/ilorin/testimony/ilorinresidentpastor.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="department-two__content">
                    <h3 class="department-two__title">
                      <a href="/about"
                        >Pst <br />
                        Pst Kevin Kolo</a
                      >
                    </h3>
                    <!-- <div class="department-two__icon">
                                        <span class="icon-suitcase"></span>
                                    </div> -->
                  </div>
                  <!-- <div class="department-two__content-two">
                                    <h3 class="department-two__title-two"><a href="department-details.html">Jobs &
                                            <br> Unemployment</a></h3>
                                    <p class="department-two__text">There are many variations of pass the majority.</p>
                                    <div class="department-two__btn-box">
                                        <a href="department-details.html" class="department-two__btn">Read More<i
                                                class="icon-right-arrow"></i></a>
                                    </div>
                                  
                                </div> -->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img src="assets/images/team/pst-kesh.jpg" alt="">
                    <!-- <img
                      src="assets/images/backgrounds/ilorin/testimony/ilorinresidentpastor.jpeg"
                      alt=""
                    /> -->
                  </div>
                  <div class="department-two__content">
                    <h3 class="department-two__title">
                      <a href="/about"
                        >Pst <br />
                        Pst kesh Babatunde</a
                      >
                    </h3>
                    <!-- <div class="department-two__icon">
                                        <span class="icon-suitcase"></span>
                                    </div> -->
                  </div>
                  <!-- <div class="department-two__content-two">
                                    <h3 class="department-two__title-two"><a href="department-details.html">Jobs &
                                            <br> Unemployment</a></h3>
                                    <p class="department-two__text">There are many variations of pass the majority.</p>
                                    <div class="department-two__btn-box">
                                        <a href="department-details.html" class="department-two__btn">Read More<i
                                                class="icon-right-arrow"></i></a>
                                    </div>
                                  
                                </div> -->
                </div>
              </div>
            </div>
          
            <!--Department Two Single End-->
            

           
            
            
        
           
           
          </div>
        </div>
      </section>
      <!--Departments Page End-->

      <!-- explore sop-->

       <section class="department-page">
        <div class="container">
          <div class="section-title text-center">
            <div class="section-title__icon">
              <span class="fa fa-star"></span>
            </div>
            <span class="section-title__tagline">Sons of Prophets</span>
            <h2 class="section-title__title">
              <!-- Meet Our Prophetic <br />
              Leaders -->
            </h2>
          </div>
          <div class="row">
            <!--Department Two Single Start-->
            
           
             <!--Department Two Single End-->
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/WhatsApp Image 2025-09-11 at 6.39.21 PM (1).jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
             <!--Department Two Single End-->
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/WhatsApp Image 2025-09-11 at 6.39.21 PM (2).jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/WhatsApp Image 2025-09-11 at 6.39.21 PM (3).jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/WhatsApp Image 2025-09-11 at 6.39.21 PM (4).jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/WhatsApp Image 2025-09-11 at 6.39.21 PM (5).jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/WhatsApp Image 2025-09-11 at 6.39.21 PM (6).jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/WhatsApp Image 2025-09-11 at 6.39.21 PM (7).jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop9.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            
          
           
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop9.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop10.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop11.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop12.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop13.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop14.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop15.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop16.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop17.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop18.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop19.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop20.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="department-two__single">
                <div class="department-two__img-box">
                  <div class="department-two__img">
                    <img
                      src="assets/images/backgrounds/ilorin/sop/ansop21.jpeg"
                      alt=""
                    />
                  </div>
                
                </div>
              </div>
            </div>
            

            
            
            
          
            
          </div>
        </div>
      </section>


      <!-- explore sop end-->

      <!-- you tube embed-->

      <section class="video-one">
        <div
          class="video-one__bg jarallax"
          data-jarallax
          data-speed="0.2"
          data-imgPosition="50% 0%"
          style="
            background-image: url(assets/images/backgrounds/ilorin/testimony/youtubebg2.jpg);
          "
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="video-one__inner">
                <div class="video-one__video-link">
                  <a
                    href="https://www.youtube.com/watch?v=TkvYwC99pcA"
                    class="video-popup"
                  >
                    <div class="video-one__video-icon">
                      <span class="fa fa-play"></span>
                      <i class="ripple"></i>
                    </div>
                  </a>
                </div>
                <h2 class="video-one__video-title">
                  NEW DAWN – It’s your time! <br />
                  You will overtake and take over.
                </h2>

                <p>
                  Sons of the Prophet Conference is a divine instruction given
                  to Pastor Sam Jaiyola to gather sons and daughters who submit
                  to, or believe in, the grace of God upon his life.
                </p>

                <p>
                  This is not just another meeting, but a spiritual encounter
                  designed for pastors, church workers, leaders, and Christians
                  who desire to know God more intimately. It is a time of deep
                  teachings, training, impartation, and transformation.
                </p>

                <p>
                  At this conference, God is raising men and women who will
                  carry the fire of His presence and manifest His glory. The
                  same grace God has placed on Pastor Sam will flow into the
                  lives of everyone present, equipping them to serve, lead, and
                  fulfill their divine assignments.
                </p>

                <p>
                  Come expectant. Come hungry. Your life, ministry, and destiny
                  will never remain the same.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br /><br />
      <!--Why Choose One Start-->
      <section class="why-choose-one">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-6">
              <div class="why-choose-one__left">
                <div class="why-choose-one__img">
                  <img
                    src="assets/images/backgrounds/lagos/allsop.jpeg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-6">
              <div class="why-choose-one__right">
                <div class="why-choose-one__shape-1">
                  <img
                    src="assets/images/shapes/why-choose-one-shape-1.png"
                    alt=""
                  />
                </div>
                <h3 class="why-choose-one__title">
                  Why Faith Preachers Ministry
                </h3>
                <p class="why-choose-one__text">
                  At Faith Preachers Ministry, headquartered in Ilorin, we are
                  dedicated to restoring hope, building destinies, and raising
                  generals for God’s kingdom under the anointed leadership of
                  Pastor Sam and Pastor Mrs. Tosin Jaiyeola.
                </p>
                <ul class="why-choose-one__points list-unstyled">
                  <li>
                    <div class="icon">
                      <span class="icon-tick"></span>
                    </div>
                    <div class="text">
                      <p>
                        Proclaiming God’s Word through vibrant worship and
                        transformative teachings across our global branches.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="icon-tick"></span>
                    </div>
                    <div class="text">
                      <p>
                        Empowering lives through powerful prayers for
                        jobseekers, families, and spiritual growth.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="icon-tick"></span>
                    </div>
                    <div class="text">
                      <p>
                        Building a global community of faith through outreach
                        and fellowship led from our Ilorin headquarters.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Why Choose One End-->

      <!--Brand One Start-->
      <br /><br />
      <!--Brand One End-->

      <!--Site Footer Start-->
      <%- include('partials/footer') %>
      <!--Site Footer End-->
    </div>
    <!-- /.page-wrapper -->

    <div class="search-popup">
      <div class="search-popup__overlay search-toggler"></div>
      <!-- /.search-popup__overlay -->
      <div class="search-popup__content">
        <form action="#">
          <label for="search" class="sr-only">search here</label
          ><!-- /.sr-only -->
          <input type="text" id="search" placeholder="Search Here..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="icon-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"
      ><i class="icon-right-arrow"></i
    ></a>

    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/vegas/vegas.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="assets/vendors/nice-select/jquery.nice-select.min.js"></script>

    <!-- template js -->
    <script src="assets/js/govity.js"></script>
  </body>
</html>
